
.ipynb_checkpoints
BallAndStick.hoc
LEMS_SimTestNet_nrn.py
*.dat
arm64
report*.txt
*.gv*
TestNet.net.png
*_code.gen.c
*_code.gen.so
*_eden.py
*.mod
/BallAndStick.cell.svg
/TestNet.net.svg
/x86_64
/SBML/*.pdf
/SBML/autogen_report_for_task1.csv
/.DS_Store
/test/*.pdf
/test/autogen_report_for_task1.csv
